
.h_scroll_wrapper {
  position: relative;
  height: 700vh;
  background: #000;
}

.h_scroll_container {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h_scroll_motion_div {
  display: flex;
  gap: 9rem;
  padding: 0 5rem;
  will-change: transform;
}

.h_scroll_end_text {
  width: 60vw;
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.9;
  text-align: center;
  color: #BCC6C6;
}

/* --- MOBILE FIXES --- */
@media (max-width: 900px) {
  .h_scroll_motion_div {
    gap: 2rem;
    padding: 0 1rem;
  }

  .h_scroll_container {
    width: 100vw;
    padding-top: 20vh;
  }

  .h_scroll_end_text {
    width: 80vw;
    margin-left: 0;
    font-size: 1.3rem;
  }
}