
.marquee_tilted_wrapper{
    transform: rotate(-1deg);
    overflow: hidden;
    /* border-top: 5px solid rgb(250 204 21 / var(--tw-text-opacity, 1));
    border-bottom: 5px solid rgb(250 204 21 / var(--tw-text-opacity, 1)); */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;

    width: 110%;
    left: -2.5%;
    position: relative;
}

/* Smooth transition from previous section */
.marquee_tilted_wrapper::before {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(139, 69, 19, 1) 100%);
    pointer-events: none;
    z-index: 1;
}

.marquee_inner{
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    background-color: brown;
    position: relative;

}


.marque_section_container{

    height: 190px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: brown;
}

.marque_section_container > span{
    text-transform: uppercase;
    font-size: 6rem;
    line-height: 1;
    font-weight: 900;
    margin-left: 2rem;
    margin-right: 2rem;
}

.marquee_1{
    color: white;
}

.marquee_2{
    color: transparent;
    -webkit-text-stroke: 5px white;
}
.marquee_3{
    color: white;
    /* border: 5px solid white; */
}
.marquee_4{
    color: rgb(250 204 21 / var(--tw-text-opacity, 1));
}



/* .marque_section_stripe{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.marque_section_stripe::before{
    content: "";
    height: 6px;
    width: 80vw;
    background-color: rgb(250 204 21 / var(--tw-text-opacity, 1));
    border-radius: 80px;
} */