
.navbar_container{
    height: 80px;
    width: 100vw;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    
}


.navbar_left > span{
    font-size: 35px;
    line-height: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.navbar_left > a{
    font-size: 35px;
    line-height: 2rem;
    font-weight: 900;
    cursor: pointer;
    color: black;
}


.navbar_left > a:hover{
    color: #630000;
}

.navbar_right{
    display: flex;
    gap: 50px;
    margin-right: 60px;
    font-weight: 600;
    font-size: 20px;
}

.navbar_right > span{
    cursor: pointer;
}
.navbar_right > a{
    cursor: pointer;
}


.navbar_left_dot{
    color: blue;
}

.navbar_left_dot:hover{
    color: #810100;
}


.navbar_right a {
  
  position: relative;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-bottom: 4px;
  transition: color 0.3s ease;

}

.navbar_right a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 3px;
    background: #4e65ff;
    transition: width 0.3s ease;
}

.navbar_right a:hover::after{
    width: 100%;
}






@media (max-width: 900px) {
  .navbar_container {
    padding: 0 20px;
  }

  .navbar_right {
    gap: 25px;
    font-size: 18px;
  }

  .navbar_left span {
    font-size: 30px;
  }
  
}


@media (max-width: 600px) {
  .navbar_right {
    display: none; /* optional: hide links on small screens */
  }
}




